* {
  margin: 20px 20px;
}

h1 {
  width: 300px;
  height: 50px;
  background-color: black;
  color: red;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 20px;
  padding-right: 10px;
  border-width: 10px;
  border-style: groove;
  border-color: rgb(196, 28, 173);
}
h2 {
  width: 200px;
  height: 40px;
  background-color: brown;
  color: chartreuse;
  padding: 20px 20px;
  border-color:blue;border-width: 10px; border-style: outset;
}
a {
  background-color: darkgreen;
  color: chocolate;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 200;
  border-color: blueviolet;
  border-width: 5px;
  border-style: solid;
}
p {
  font-style: italic;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: gold;
  color: black;
  padding: 30px 20px;
  font-weight: 400;
  border-width: 10px;
  border-color: red;
  border-style: ridge;
}
div {
  background-color: aquamarine;
  color: rgb(2, 89, 251);
  padding: 20px 20px;
  font-style: italic;
  font-variant: small-caps;
  border-width: 4px;
  border-style: double;border-color: coral;
}
